<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
             name="con"
             providerName="System.Data.sqlclient"
             
             connectionString="server=LAB1_59\SQLEXPRESS; 
                                database=Student;
                                integrated security=true"
             
    />
  </connectionStrings>
</configuration>